.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

.form {

  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-size {
  width: 30%;
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.addFolder {
  margin-left: 10%;
}

.list {
  margin-top: 10%;
}

.margins {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.signin {
  font-family: 'Courier New', Courier, monospace;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 10px;
  height: 35px;
  border-radius: 10px;
  background-color: #3b18b9;
  color: white;
  font-size: 16px;
  border: none;
  margin: 10px;

}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 50%;
}

input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

.box {
  margin: 10px;
}